@font-face {
    font-family: Gotham-Ultra;
    src: url("../fonts/OpenSans_Condensed-Bold.ttf")
}
@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/OpenSans_Condensed-Medium.ttf")
}
@font-face {
    font-family: Gotham-Thin;
    src: url("../fonts/OpenSans-Light.ttf")
}
